.NavContainer{
    
    ul{
        display: flex;
        gap: 5%;
        list-style: none;
        li{
            
            a{
                color: #000000;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-decoration: none;
                
        
            }
        }
    }
}



