@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Russo+One&display=swap');


header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 200px;
    margin-right: 200px;
}